{{!--
This template is used for the post page.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/post.js"}}" as="script" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/vendor/applause-button.min.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#post}}
  {{> header}}
{{/post}}

<main class="main-wrap">
  {{#post}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero}}
    <div class="l-wrapper m-hero__content in-post" data-aos="fade-down">
      <div>
        <h1 class="m-hero-title bigger">{{title}}</h1>
        {{#if custom_excerpt}}
          <p class="m-hero-description">{{custom_excerpt}}</p>
        {{/if}}
        <div class="m-author__content in-post">
          <div class="m-author__picture in-post">
            <a href="{{primary_author.url}}" class="m-author-picture smaller" aria-label="{{primary_author.name}}">
              {{#if primary_author.profile_image}}
                <div style="background-image: url({{primary_author.profile_image}});"></div>
              {{else}}
                <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
              {{/if}}
            </a>
          </div>
          <div class="m-author__info in-post">
            <h4 class="m-author__name in-post">
              <a href="{{primary_author.url}}">{{primary_author.name}}</a>
            </h4>
            <p class="m-article-card__timestamp">
              <span>{{date published_at}}</span>
              <span>&bull;</span>
              <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
            </p>
          </div>
        </div>
        <hr />
        {{#if feature_image}}
          <div class="m-hero__picture in-post">
            <img
              srcset="
                {{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 600w,
                {{img_url feature_image size="l"}} 1000w,
                {{img_url feature_image size="xl"}} 2000w
              "
              sizes="(max-width: 600px) 600px, (max-width: 1000px) 1000px, 2000px"
              src="{{img_url feature_image size="l"}}"
              alt=""
            />
          </div>
        {{/if}}
      </div>
    </div>
    </section>
  {{/post}}

  <article>
    <div class="l-content in-post">
      {{!-- Everything inside the #post tags pulls data from the post --}}
      {{#post}}
        <div class="l-wrapper in-post {{#unless feature_image}}no-image{{/unless}} js-aos-wrapper" data-aos="fade-up"
          data-aos-delay="150">
          <div class="l-post-content has-subscribe-form">
            <div class="pos-relative js-post-content">
              <div class="m-share in-post">
                <div class="m-share__content">
                  <button class="m-icon-button filled in-share bigger progress js-scrolltop" aria-label="{{t "Scroll to top"}}">
                    <span class="icon-arrow-top" aria-hidden="true"></span>
                    <svg aria-hidden="true">
                      <circle class="progress-ring__circle js-progress" fill="transparent" r="0" />
                    </svg>
                  </button>
                </div>
              </div>
              {{content}}
              {{!-- Interactions --}}
              <div class="m-interactions">
                <applause-button style="width: 50px; height: 50px;" color="var(--titles-color)" multiclap="true"></applause-button>
                <div class="m-article-card__share">
                  <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}"
                    class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Twitter">
                    <span class="icon-twitter" aria-hidden="true"></span>
                  </a>
                  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute='true'}}"
                    class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="LinkedIn">
                    <span class="icon-linkedin" aria-hidden="true"></span>
                  </a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
                    class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Facebook">
                    <span class="icon-facebook" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
              {{!-- List of tags --}}
              {{#if tags}}
                <section class="m-tags in-post">
                  <ul class="no-margin">
                    {{#foreach tags}}
                      <li class="m-article-card__tag in-post">
                        <a href="{{url}}" title="{{name}}">{{name}}</a>
                      </li>
                    {{/foreach}}
                  </ul>
                </section>
              {{/if}}
            </div>
          </div>
        </div>
        {{!-- Email subscribe form at the bottom of the page --}}
        <section class="m-subscribe-section">
          <div class="l-wrapper in-post">
            <div class="m-subscribe-section__content">
              <div class="m-subscribe-section__text">
                <h4 class="m-subscribe-section__title">{{t "Subscribe to our newsletter"}}</h4>
                <p class="m-subscribe-section__description">
                  {{t "Get the latest posts delivered right to your inbox."}}
                </p>
              </div>
              <div class="m-subscribe-section__form">
                <div class="m-subscribe-section__form">
                  <form data-members-form="subscribe" id="newsletter-form" class="m-subscribe-section__container">
                    <div class="m-subscribe__form">
                      <div class="pos-relative">
                        <label for="newsletter-input" class="sr-only">{{t "Your email address"}}</label>
                        <input data-members-email id="newsletter-input" class="m-input in-subscribe-section" type="email"
                          placeholder="{{t "Your email address"}}" required />
                      </div>
                      <button id="newsletter-button" class="m-button primary block" type="submit">{{t "Subscribe"}}</button>
                    </div>
                    <div class="m-subscribe__success">
                      <header class="m-heading no-margin">
                        <img src="{{asset "images/success.png"}}" alt="Success!" class="m-subscribe__success_icon">
                        <p class="m-heading__description in-newsletter-form">
                          {{t "Now check your inbox and click the link to confirm your subscription."}}
                        </p>
                      </header>
                    </div>
                    <p class="m-subscribe__invalid m-small-text">
                      {{t "Please enter a valid email address."}}
                    </p>
                    <p class="m-subscribe__error m-small-text">
                      {{t "Oops! There was an error sending the email, please try later."}}
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        {{!-- Author information at the bottom of the page --}}
        <section class="m-author">
          <hr />
          <div class="m-author__content in-post bigger">
            <div class="m-author__picture in-post bigger">
              <a href="{{primary_author.url}}" class="m-author-picture" aria-label="{{primary_author.name}}">
                {{#if primary_author.profile_image}}
                  <div style="background-image: url({{primary_author.profile_image}});"></div>
                {{else}}
                  <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                {{/if}}
              </a>
            </div>
            <div class="m-author__info">
              <h4 class="m-author__name in-post bigger">
                <a href="{{primary_author.url}}">{{primary_author.name}}</a>
              </h4>
              {{#if primary_author.bio}}
                <p class="m-author__bio">{{primary_author.bio}}</p>
              {{/if}}
              <ul class="m-author-links">
                {{#if primary_author.website}}
                  <li>
                    <a href="{{primary_author.website}}" target="_blank" rel="noopener" aria-label="{{t "Website"}}">
                      <span class="icon-globe" aria-hidden="true"></span>
                    </a>
                  </li>
                {{/if}}
                {{#if primary_author.facebook}}
                  <li>
                    <a href="https://facebook.com/{{primary_author.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
                      <span class="icon-facebook" aria-hidden="true"></span>
                    </a>
                  </li>
                {{/if}}
                {{#if primary_author.twitter}}
                  <li>
                    <a href="https://twitter.com/{{primary_author.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
                      <span class="icon-twitter" aria-hidden="true"></span>
                    </a>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
          <hr />
        </section>
        {{!-- If you want to embed comments, this is a good place to do it! --}}
        {{!--
          <section class="m-comments">
            <div class="m-load-comments__iframe l-wrapper in-comments js-comments-iframe">
              <div id="disqus_thread"></div>
              <script>
                var disqus_config = function () {
                  this.page.url = "{{url absolute="true"}}";
                  this.page.identifier = "ghost-{{comment_id}}"
                };
                (function () {
                  var d = document, s = d.createElement('script');
                  s.src = 'https://CHANGETHIS.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
              </script>
            </div>
          </section>
        --}}
      {{/post}}
      {{!-- Related posts --}}
      {{#if post.tags.length}}
        {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |related|}}
          <section class="m-recommended">
            <div class="l-wrapper">
              <h3 class="m-section-title">{{t "Recommended for you"}}</h3>
              <div class="m-recommended-articles">
                <div class="l-wrapper" data-aos="fade-up" data-aos-delay="150">
                  <div class="l-grid centered">
                    {{!-- The tag below iterates over all the posts --}}
                    {{> "loop"}}
                  </div>
                </div>
              </div>
            </div>
          </section>
        {{/get}}
      {{else}}
        <section class="m-recommended">
          <div class="l-wrapper">
            <h3 class="m-section-title no-margin">{{t "Recommended for you"}}</h3>
            <div class="m-recommended-articles">
              <div class="m-heading align-center no-margin">
                <h3>{{t "No posts found"}}</h3>
                <p>
                  {{t "There are no posts at the moment, check again later."}}
                </p>
              </div>
            </div>
          </div>
        </section>
      {{/if}}
    </div>
  </article>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/post.js"}}"></script>
  <script defer src="{{asset "js/vendor/applause-button.min.js"}}"></script>
{{/contentFor}}
